<html>
	<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
    	<title></title>
  	</head>
	<body>
		${text}
		
		#if($isFinalMail) 
			<a href="http://www.washpipes.com/customerPage.html?id=${member.id}&projectGroup=${projectGroup.id}">
				前往銷售頁
			</a>
      	#end	
	</body>
	
</html>