<html>
	<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
    	<title></title>
  	</head>
	<body>
		<h3>
			你好，以下為你的新密碼
		</h3>
		<h3>
			${member.password}
		</h3>
		<h3>
			此為系統自動發送，請勿回覆這封郵件。
		</h3>
		<br>
		<a href="http://www.washpipes.com/admin">http://www.washpipes.com/admin</a>
	</body>

</html>